body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Full-page sections */
.section {
    height: 100vh; /* 100% of viewport height */
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact {
    height: 40vh;
}

/* Navbar styles */
.custom-navbar {
    background-color: transparent; /* Make the navbar background transparent */
    position: absolute; /* Fix the navbar at the top */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-right: 200px;
}
.navbar-nav .nav-link {
    color: #fff; /* Set text color to white */
    border-radius: 20px; /* Add rounded corners */
    padding: 8px 20px; /* Add padding to create a clickable area */
    transition: background-color 0.3s ease; /* Add a smooth transition for background color */
}

/* Navbar link hover styles */
.navbar-nav .nav-link:hover {
    background-color: rgba(139, 126, 126,0.7); /* Change background color on hover */
    color: #fff;
}

/* Home Section */
#home {
    background-image: url('../assets/images/home.jpg'); /* Add your background image URL */
    background-size: cover;
    background-position: center;
    color: #fff;
}
/* Text styles */
h1, h2, p {
    text-align: center;
}
/* Custom CSS for card hover effect */
.card:hover {
    transform: scale(1.05); /* Increase card size on hover */
    transition: transform 0.1s ease; /* Add a smooth transition */
    cursor: pointer; /* Change cursor to pointer on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.custom-card {
    width: 100%; /* Make the width responsive */
    max-width: 260px; /* Adjust the maximum width as needed */
    height: 460px; /* Set a fixed height for a square shape */
    overflow: hidden; /* Hide overflow content if necessary */
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
    z-index: 999;
    width: 40px; /* Set the button width */
    height: 40px; /* Set the button height */
    border-radius: 50%; /* Make the button round */
    background-color: rgb(255, 255, 255); /* Button background color */
    color: rgb(0, 0, 0); /* Button text color */
    text-align: center;
    font-size: 20px; /* Button text size */
    line-height: 10px; /* Center text vertically */
    transition: background-color 0.3s ease; /* Add transition effect */
}

/* Style for the button on hover */
#back-to-top:hover {
    background-color: rgb(72, 65, 65); /* Change background color on hover */
    color: rgb(255, 255, 255);
}
/* Animation styles for the "WELCOME" text */
.animation-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 60px; /* Add padding for spacing */
    text-align: center;
}

.welcome-text {
    font-size: 100px;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    border-left: 3px solid transparent; /* Use border-left instead of border-right */
    animation: typing 2s steps(14) forwards;
}
.welcome-text::after {
    content: "|"; /* Use a pipe character as the cursor */
    display: inline-block;
    margin-left: 5px; /* Adjust the cursor's spacing from the text */
    opacity: 0; /* Initially, make the cursor invisible */
    animation: cursor-blink 1s infinite;
}
@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes cursor-blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
@media (max-width: 991px) {
.custom-navbar {
    background-color: rgb(139, 126, 126);
}
.welcome-text {
    font-size: 80px;
}
} 